@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --teal-50: #f0fdfa;
  --teal-100: #ccfbf1;
  --teal-500: #14b8a6;
  --teal-600: #0d9488;
}

body {
  background-color: var(--teal-50);
}
